* {
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.formulario {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 80px 450px;
   
}

.formulario div {
    display: flex;
    margin: 10px 0;
}

.formulario label {
    display: inline-block;
    padding-right: 15px;
}

.poder {
    width: 50%;
}

.confirmo-talentos {
    display: flex;
    align-items: top;
    justify-content: space-evenly;
}

.tamanho {
    width: 200px;
}

.label__talentos {
    width: 200px;
}

.super {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.grupo-campo {
    display: flex;
    justify-content: space-between;

}
.botoes {
    padding: 10px;
    border-radius: 10%;
    border: none;
}

.btn--submit {
    background-color: #a80b9be5;

}
.btn--submit:hover {
    background-color: rgba(67, 4, 70, 0.87)
}

